extends ../../layouts/layout.pug

block content
  h1 Update
    
  form(action="/transactions/update" method="POST")
    .form-group
      input.form-control(type='hidden', name='id', value=transaction.id)
    .form-group
      label(for='inputUserId') User ID
      input#inputUserId.form-control(type='text', name='userId', value=transaction.userId)
    .form-group
      label(for='inputBookId') User Book
      input#inputBookId.form-control(type='text', name='bookId', value=transaction.bookId)
    button.btn.btn-primary(type='submit') Update
