extends ../../layouts/layout.pug


block content
  h1
    span User
    if(userLogin.isAdmin)
      a.ml-3.btn.btn-success(href="/users/create") Create User

  .d-flex
    form.form-inline.my-2.my-lg-0.ml-auto(action='/users/search' method="GET")
      input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search' name="q" value=q)
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

  table.table.mt-2
    thead.thead-dark
      tr
        th(scope='col') Name
        th(scope='col') Age
        if(userLogin.isAdmin)
          th(scope='col') Action
    tbody
      each user in users
        tr
          td.align-middle= user.name
          td.align-middle= user.age
          if(userLogin.isAdmin)
            td
              a.btn.btn-info(href="/users/" + user.id + "/views") View
              a.btn.btn-info.mx-2(href="/users/" + user.id + "/update") Update
              a.btn.btn-info(href="/users/" + user.id + "/delete") Delete
